body {
  background: #414347;
  margin: 0;
  overflow: hidden;   
}
 
.content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 100px;
  width: 100%;
}

.registration-form__button {
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #2483c6;
  background: #35383e;
  color: #2483c6;
  font-weight: 700;
  font-size: 12pt;
  height: 35px;
  line-height: 32px;
  width: 130px;
}
  
.registration-form__button_action:hover {
  background: #535b63;
  border-color: #abb4bc;
  color: #fff;
}

.registration-form-text {
  color: #fff;
}

.text-box {
  display: block;
  width: 90%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-right: 10px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
  
@media (min-width: 320px) {
  .content {
    max-width: 320px;
    padding-left: 5px;
    padding-right: 15px;
  }
}
  
@media (min-width: 480px) {
  .content {
    max-width: 480px;
  }
}
  
@media (min-width: 576px) {
  .content {
    max-width: 540px;
  }
}
  
@media (min-width: 768px) {
  .content {
    max-width: 720px;
  }
}
  
@media (min-width: 992px) {
  .content {
    max-width: 960px;
  }
}
  
@media (min-width: 1200px) {
  .content {
    max-width: 1140px;
  }
}