* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.06);
  height: 60px;
  width: 100%;
}

.container {
  width: 1196px;
  margin: auto;
}

.logo {
  padding: 11px 0 0 0;
}

.button {
  margin: 14px;
  padding: 0 15px 0 7px;
  font-size: 18px;
  line-height: 30px;
  float: right;
  border: 1px solid rgba(0,0,0,.2);
  cursor: pointer;
  border-radius: 3px;
}


.button a {
  color: black;
  text-decoration: none;
}

.Text h1 {
  margin-top: 80px;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5em;
  font-family: "Yandex Sans Text Web",Arial,sans-serif;
}

.searchbox {
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-left: 1px solid rgba(0,0,0,.2);
  width: 805px;
  height: 30px;
  margin: auto;
}

.search {
  color: black;
  text-decoration: none;
  border-left: 1px solid rgba(0,0,0,.2);
  border-right: 1px solid rgba(0,0,0,.2);
  float: right;
  padding: 5px 12px 5px 12px;
  font-size: 17px;
}

.lupa {
  padding: 7px 0 0 6px;
}

input {
  width: 700px;
  height: 24px;
  padding: 7px 0 0 7px;
  border: none;
  outline: none;
  font-size: 17px;
}

.blockline {
  margin-top: 80px;
}

.block {
  width: 394px;
  display: inline-block;
}

.textpadding {
  padding: 5px 0 60px 0;
}

.blockline .block a {
  margin-top: 50px; 
  padding-left: 15px;
  text-decoration: none;
  font-family: "Yandex Sans Text Web",Arial,sans-serif;
  font-size: 20px;
}

.blockline .block p {
  padding-top: 20px;
  padding-left: 65px;
  font-family: "Yandex Sans Text Web",Arial,sans-serif;
  font-size: 13px;
}

.ya {
  height: 50px;
  width: 50px;
  float: left;
}

.Text h2 {
  margin-top: 150px;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Yandex Sans Text Web",Arial,sans-serif;
}

.bb {
  height: 16px;
  width: 16px;
  float: left;
}


.blockb {
  width: 300px;
  display: inline-block;
  padding-left: 35px;
  padding-right: 35px;
}

.texttwo {
  padding-bottom: 25px;
}

.texttwo a {
  color: black;
  margin-top: 150px; 
  padding-left: 15px;
  text-decoration: none;
  font-family: "Yandex Sans Text Web",Arial,sans-serif;
  font-size: 15px;
}

footer {
  border-top: 1px solid rgba(0,0,0,.06);
}

span {
  float: right;
  font-size: 15px;
  line-height: 40px;
  text-align: right;
  color: #7c7c7c;
}

span a {
  text-decoration: none;
}
