body {
      margin: 0; 
     }

p.text {
	font-size: 30px;
}

a.button1 {
  float:right;
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  background: #ffffff;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button1:hover {
    border: 1px solid black;
}
a.button1:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
 
hr {
    border: none;
    background-color: #f5f5f6;
    color: red;
    height: 1px;
   }
   
input::-webkit-input-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
input:-moz-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
input:-ms-input-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
input {
  color: white;
  height: 27px;
  width: 400px;
}
   
 div.title {
  display: inline-block;
  line-height: 0.5;
  margin-left: auto;
  float: left; 
  line-height: 10px;
  font-size: 15px;
  margin-top: 25px;
  width: 30%; 
  margin-right: 35px; 
 }

 div.clss {
	 display: inline-block;
  line-height: 0.5;
  margin-left: auto;
  float: left; 
  line-height: 10px;
  font-size: 15px;
  margin-top: 25px;
  width: 30%; 
  margin-right: 35px; 
 }
 
a.button2 {
  display: inline-block;
  color: #e6e6e6;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  transition: 0.2s;
} 
a.button2:hover { background: rgba(255,255,255,.2); }
a.button2:active { background: white; }

a.button3 {
  display: inline-block;
  color: #e6e6e6;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  transition: 0.2s;
} 
a.button3:hover { background: rgba(255,255,255,.2); }
a.button3:active { background: white; }

#header{
	margin: 1%;
background:#ffffff;
/*width:100%;
height:160px;*/
}


#content_groups{
	margin: 5%;
background:#ffffff;
width:100%;
height:300px;
}

div.titi {
	 margin: 4%;
} 

#content_services{
	margin: 5%;
background:#ffffff;
width:100%;
height:1150px;
position:absolute;
top: 970px;
}
#footer{
background:#ffffff;
width:100%;
height:40px;
position:absolute;
top: 2150px;
}
     